<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Каталог товаров</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/cart.css}" type="text/css" rel="stylesheet">
</head>


<body class="body_user_lc">


  <div class="header_product_header">
    <div class="header_location">
      <img class="header_location_logo" th:src="@{/images/locationLogo.svg}" alt="logo">
      <a class="header_location_logo_link" href="#"> Москва</a>
    </div>
    <h5 th:text="'Привет '+${name}"></h5>
    <div class="header_info" >
      <a class="header_location_logo_link" href="/wholesalers"> Оптовикам</a>
      <a class="header_location_logo_link" href="/company"> О компании</a>
      <a class="header_location_logo_link" href="/contacts"> Контакты</a>
    </div>
  </div>

  <div class="header_user_lc">
    <div class="header_user_lc_logo">
      <a class="logo_ss" href="/product">
      <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
      </a>
    </div>

    <div class="header_search">
      <form class="header_search_form" th:method="POST" th:action="@{/product/searchHeader}">
        <input class="header_input_search" type="text" id="searchHeader" name="search" th:value="*{value_search}">
        <button class="header_search_btn" type="submit"> <img class="logo_search" th:src="@{/images/search-svgrepo-com.svg}" alt="logo_search"></button>
      </form>
    </div>
<!--
    <h2 th:text="'Привет '+${name}"></h2>
-->
    <div class="header_user_lc_block">

      <div class="header_user_lc_basket">
        <a class="basket_ss" href="/cart">
          <img class="basket_logo" th:src="@{/images/cart-shopping-svgrepo-com.svg}" alt="basket_logo">
        </a>
      </div>

      <div class="header_user_lc_auth">
        <a class="user_auth" href="/login">
          <img class="user_auth_img" th:src="@{/images/profile-1336-svgrepo-com.svg}" alt="user_auth_img">
        </a>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="slider_wrapper">
      <div class="sliders">
        <img src="/images/banner3.jpg" id="slide-1">
        <img src="/images/p18073_Lx79qg.jpg" id="slide-2">
        <img src="/images/banerDemo7.png" id="slide-3">
        <img src="/images/banerDemo4.jpg" id="slide-4">
        <img src="/images/banerDemo8.jpg" id="slide-5">
      </div>
      <div class="controls">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
        <a href="#slide-4"></a>
        <a href="#slide-5"></a>
      </div>
    </div>
  </div>


  <div class="product_block">
    <div class="card1">
      <div class="card_header toggleHide">
        <div class="top">
          <p>Стильные модели</p>
          <p>Душевые кабины</p>
        </div>
      </div>
      <div class="card_footer toggleHide">
        <p>Всегда в наличии!</p>
      </div>
    </div>
    <div class="card2">
      <div class="card_header toggleHide">
        <div class="top">
          <p>Инсталяции для подвесных унитазов</p>
          <p></p>
        </div>
      </div>
      <div class="card_footer toggleHide">
        <p>Новинка!</p>
      </div>
    </div>
    <div class="card3">
      <div class="card_header toggleHide">
        <div class="top">
          <p></p>
          <p>Раковины накладные</p>
        </div>
      </div>
      <div class="card_footer toggleHide">
        <p>Стильно!</p>
      </div>
    </div>
  </div>

  <div class="product_list">

    <div class="searchSort">
      <form th:method="POST" th:action="@{/product/search}">
        <fieldset class="searchSort_block">
          <legend>Выберите параметры :</legend>
          <br>
          <label for="min">Цена от:</label>
          <input type="text"  name="min" id="min" th:value="*{min_price}">
          <br>
          <label for="max">Цена до:</label>
          <input type="text"  name="max" id="max" th:value="*{max_price}">
          <br>

          <div>
            <p>Сортировка</p>
            <input type="radio" id="ascending_price" name="sort" value="sorted_by_ascending_price">
            <label for="ascending_price">По возрастанию цены</label>
            <input type="radio" id="descending_price" name="sort" value="sorted_by_descending_price">
            <label for="descending_price">По убыванию цены</label>
            <p>Категория товаров:</p>
            <input type="radio" id="Ванны" name="category" value="Ванны">
            <label for="Ванны">Ванны</label>
            <br>
            <input type="radio" id="Санфаянс" name="category" value="Санфаянс">
            <label for="Санфаянс">Санфаянс</label>
            <br>
            <input type="radio" id="Смесители" name="category" value="Смесители">
            <label for="Смесители">Смесители</label>
            <br>
            <input type="radio" id="Душевые кабины" name="category" value="Душевые кабины">
            <label for="Душевые кабины">Душевые кабины</label>
            <br>
            <input type="radio" id="Кухонные раковины" name="category" value="Кухонные раковины">
            <label for="Кухонные раковины">Кухонные мойки</label>
            <br>
            <input type="radio" id="Арматура" name="category" value="Арматура">
            <label for="Арматура">Арматура</label>
            <br>
            <input class="findButton" type="submit" value="Найти">
          </div>
        </fieldset>
      </form>
    </div>


    <div >
      <div class="productListDiv">
        <div class="productDiv" th:each="product : ${search_product_header}">
          <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" width="300px"/>
            <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px"/>
          </a>
          <br>
          <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
          <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
      </div>

      <div class="productListDiv">
        <div class="productDiv" th:each="product : ${search_product}">
          <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" width="300px"/>
            <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px"/>
          </a>
          <br>
          <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
          <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        </div>
      </div>
      <h3>Наши товары</h3>
      <div class="productListDiv">
        <div class="productDiv" th:each="product : ${products}">
          <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" />
            <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}"/>
          </a>
          <br>
          <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
          <p th:text="'Цена: ' + ${product.getPrice()}"></p>
          <form th:action="@{/cart/add/{id}(id=${product.getId()})}">
            <button class="productListDiv_btn" type="submit">Купить</button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <div class="footer_product">


    <div class="header_user_lc_logo">
      <a class="logo_ss" href="/product">
        <img class="logo_new_footer" th:src="@{/images/footer-logo.png}">
      </a>
    </div>

    <div>
      Информация о характеристиках товара, его наличию и доставке носит<br>
      исключительно ознакомительный характер и ни при каких условиях<br>
      не является публичной офертой, определяемой положениями Статьи 437<br>
      Гражданского кодекса РФ
    </div>


    <div>
      Интернет-магазин Посейдон<br>
      Дипломная работа студентов: <br>
      Пакулин Ю.А., Строев Д.В., Брылин М.В.
      <br>
      Группа:4811
      <br>
      ©2024
    </div>
    <div class="goBack">
      <div>
        <form href="#">
          <button type="submit">Наверх</button><br>
        </form>
      </div>
    </div>
  </div>
</body>
</html>