<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Заказы</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/orders.css}" type="text/css" rel="stylesheet">
</head>
<body class="body_user_lc">

  <div class="header_product_header">

    <div class="header_location">
      <img class="header_location_logo" th:src="@{/images/locationLogo.svg}" alt="logo">
      <a class="header_location_logo_link" href="#"> Москва</a>
    </div>

    <div class="header_info" >
      <a class="header_location_logo_link" href="/wholesalers"> Оптовикам</a>
      <a class="header_location_logo_link" href="/company"> О компании</a>
      <a class="header_location_logo_link" href="/contacts"> Контакты</a>
    </div>


  </div>

  <div class="header_user_lc">

    <div class="header_user_lc_logo">
      <a class="logo_ss" href="/product">
        <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
      </a>
    </div>
    <h2 th:text="'Активный пользователь: '+${person.getLogin()}">Личка</h2>

    <div class="header_user_lc_block">

    <div class="header_user_lc_basket">
      <a class="basket_ss" href="/cart">
        <img class="basket_logo" th:src="@{/images/cart-shopping-svgrepo-com.svg}">
      </a>
    </div>

    <div class="header_user_lc_exit">
      <form method="post" th:action="@{/logout}">
        <button class="header_user_lc_ex_bt" >
          <img class="basket_logo_btn" th:src="@{/images/exit-svgrepo-com.svg}">
        </button>
      </form>
    </div>

  </div>

  </div>

  <div class="orders_user_lc">
    <form th:action="@{/userPage}">
      <button type="submit">Назад к личному кабинету</button><br>
    </form>
  </div>
  <hr>


  <div class="orders_h3" >
    <h3>Мои заказы</h3>
  </div>



  <div class="ordersInfo">
    <div class="orderInfo" th:each="order : ${orders}">
      <img class="orderInfo_img" th:if="${order.getProduct().imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${order.getProduct().imageList[0].getFileName()}"/>
      <img th:unless="${order.getProduct().imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${order.getProduct().imageList[0].getFileName()}"/>
      <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
      <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}">
      <p th:text="'Количество: ' + ${order.getCount()}">
      <p th:text="'Цена: ' + ${order.getPrice()}">
      <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
      <p th:text="'Cтатус: ' + ${order.getStatus()}">
    </div>
  </div>

<div class="goBack">
  <div>
    <form href="#">
      <button type="submit">Наверх</button><br>
    </form>
  </div>
</div>

</body>
</html>