<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/orders.css}" type="text/css" rel="stylesheet">
</head>


<body class="body_user_lc">

<div class="header_product_header">

    <div class="header_location">
        <img class="header_location_logo" th:src="@{/images/locationLogo.svg}" alt="logo">
        <a class="header_location_logo_link" href="#"> Москва</a>
    </div>

    <div class="header_info">
        <a class="header_location_logo_link" href="/wholesalers"> Оптовикам</a>
        <a class="header_location_logo_link" href="/company"> О компании</a>
        <a class="header_location_logo_link" href="/contacts"> Контакты</a>
    </div>


</div>

<div class="header_user_lc">

    <div class="header_user_lc_logo">
        <a class="logo_ss" href="/product">
            <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
        </a>
    </div>
    <h2 th:text="'Активный пользователь: '+${name}">Личка</h2>

    <div class="header_user_lc_block">

        <div class="header_user_lc_basket">
            <a class="basket_ss" href="/cart">
                <img class="basket_logo" th:src="@{/images/cart-shopping-svgrepo-com.svg}">
            </a>
        </div>

        <div class="header_user_lc_exit">
            <form method="post" th:action="@{/logout}">
                <button class="header_user_lc_ex_bt">
                    <img class="basket_logo_btn" th:src="@{/images/exit-svgrepo-com.svg}">
                </button>
            </form>
        </div>
    </div>

</div>

<div class="orders_user_lc">
    <form th:action="@{/product}">
        <button type="submit">На главную</button><br>
    </form>
</div>

<div class="userPage_h1">
    <h1>Личный кабинет</h1>
</div>


<div class="userPage_h2">
    <h2 th:text="'Здравствуйте  '+${name} +', добро пожаловать в личный кабинет! '">Личка</h2>
</div>

<br>
<br>

<div class="userData">
    <div class="userPage_block1">
        <div class="lichnDan">
            <div class="lichnDan_header">
                <img class="lichnDan_header_logo" src="/images/profile.svg" alt="logo">
                <h3>Личные данные</h3>
                <form  method="GET" th:action="@{/admin/personUser/edit/{id}(id=${person.getId()})}" >
                    <button class="lichnDan_header_btn" >Подробнее</button>
                </form>


            </div>
            <div class="lichnDan_body">
                <hr>
                <h3 th:text="${person.getLogin()} ">Личка</h3>
                <h3 th:text=" 'Имя: '+ ${person.getFirstName()} ">Имя:</h3>
                <h3 th:text=" 'Фамилия: '+ ${person.getLastName()} ">Фамилия:</h3>
                <h3 th:text=" 'Телефон: '+ ${person.getTelephone()} ">Телефон:</h3>
                <h3 th:text=" 'Email: '+ ${person.getEmail()} ">Email:</h3>
                <h3 th:text=" 'Адрес доставки: '+ ${person.getAddress()} ">Адрес доставки:</h3>
            </div>
        </div>
        <div class="skidki">
            <div class="skidki_header">
                <img class="skidki_header_logo" src="/images/percent.svg" alt="logo">
                <h3>Скидки</h3>
            </div>
            <div class="skidki_body">
                <hr>
                <h3 th:text="${name} + ' - у Вас пока нет скидок' ">Скидки</h3>
            </div>
        </div>
    </div>

    <br>

    <div class="zakaz">
        <div class="zakaz_header">
            <img class="zakaz_header_logo" src="/images/cart.svg" alt="logo">
            <h3>Заказы</h3>
            <form method="get" th:action="@{/orders}">
                <button class="lichnDan_header_btn" >Подробнее</button>
            </form>
        </div>
        <div class="zakaz_body">
            <hr>
            <div class="adminSearch_orders_table">
                <table style="margin: auto; border-spacing: 50px 10px">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Товар в заказе</th>
                        <th>Статус заказа</th>
                        <th>Итого, руб.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order:${orders}">
                        <td th:text="${order.getNumber()}"></td>
                        <td th:text="${order.getProduct().getTitle()}"></td>
                        <td th:text="${order.getStatus()}"></td>
                        <td th:text="${order.getPrice()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>


    <div class="userPage_block2">
        <div class="moiObrash">
            <div class="moiObrash_header">
                <img class="moiObrash_header_logo" src="/images/email.svg" alt="logo">
                <h3>Обращения</h3>
            </div>
            <div class="moiObrash_body">
                <hr>
                <h3 th:text="${name} + ' - у Вас пока нет обращений' ">Обращения</h3>
            </div>
        </div>
        <div>
            <img class="moiObrash_logo" src="/images/banner2.jpg" alt="logo">
        </div>
    </div>

</div>


<br>
<hr>
<div class="footerUserPage">
    <div class="header_user_lc_logo">
        <a class="logo_ss" href="/product">
            <img class="logo_new_footer" th:src="@{/images/footer-logo.png}">
        </a>
    </div>

    <div>
        Информация о характеристиках товара, его наличию и доставке носит<br>
        исключительно ознакомительный характер и ни при каких условиях<br>
        не является публичной офертой, определяемой положениями Статьи 437<br>
        Гражданского кодекса РФ
    </div>

    <div>
        Интернет-магазин Посейдон<br>
        Дипломная работа студентов: <br>
        Пакулин Ю.А., Строев Д.В., Брылин М.В.
        <br>
        Группа:4811
        <br>
        ©2024
    </div>
    <div class="goBack">
        <div>
            <form href="#">
                <button type="submit">Наверх</button><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>