<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="header">
    <div>
        <a>
            <img class="logo" th:src="@{/images/logo.png}">
        </a>
    </div>
    <div class="searchHeader">
        <form th:method="POST" th:action="@{/product/searchHeader}">
            <input type="text" id="searchHeader" name="search" th:value="*{value_search}">
            <button type="submit">Найти</button>
        </form>
    </div>
    <div class="headerMenu">
        <ul class="navigation">
            <li><a href="/orders">Мои заказы</a></li>
            <li><a href="/cart">Корзина</a></li>
            <li>
                <form method="post" th:action="@{/logout}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit" th:text="'Выйти из ЛК    '+${person.getLogin()}">Выйти из ЛК</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<div class="searchPlusBanner">
    <form th:method="POST" th:action="@{/product/search}">
        <fieldset>
            <legend>Выберите параметры для поиска/сортировки/фильтрации:</legend>
            <label for="search">Поиск по наименованию:</label>
            <input type="text" id="search" name="search" th:value="*{value_search}">
            <br>
            <label for="ot">Цена от:</label>
            <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
            <label for="do">Цена до:</label>
            <input type="text" name="do" id="do" th:value="*{value_price_do}">
            <br>
            <div>
                <p>Сортировка</p>
                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">По возрастанию цены</label>
                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">По убыванию цены</label>
                <p>Категория товаров:</p>
                <input type="radio" id="baths" name="category" value="baths">
                <label for="baths">Ванны</label>
                <input type="radio" id="sanitary ware" name="category" value="sanitary ware">
                <label for="sanitary ware">Санфаянс</label>
                <input type="radio" id="mixers" name="category" value="mixers">
                <label for="mixers">Смесители</label>
                <input type="radio" id="shower stalls" name="category" value="shower stalls">
                <label for="shower stalls">Душевые кабинки</label>
                <input type="radio" id="kitchen sinks" name="category" value="kitchen sinks">
                <label for="kitchen sinks">Кухонные мойки</label>
                <input type="radio" id="fittings" name="category" value="fittings">
                <label for="fittings">Арматура</label>
                <br>
                <input class="findButton" type="submit" value="Найти">
            </div>
        </fieldset>
    </form>
    <!--<img th:src="@{/images/banner2.jpg}">-->
</div>

<div class="productListDiv">
    <div class="productDiv" th:each="product : ${search_product_header}">
        <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px">
        </a>
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    </div>
</div>

<div class="productListDiv">
    <div class="productDiv" th:each="product : ${search_product}">
        <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px">
        </a>
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <hr>
    </div>
</div>

<h3>Наши товары</h3>
<div class="productListDiv">
    <div class="productDiv" th:each="product : ${products}">\
        <a th:href="@{/product/info/{id}(id=${product.getId()})}">
            <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" />
            <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}"/>
        </a>
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <form th:action="@{/cart/add/{id}(id=${product.getId()})}">
            <button type="submit">Купить</button>
            <br>
        </form>
    </div>
</div>
<br>
<hr>
<div class="footer">
    <div>

        <li><a href="/orders?">История заказов</a></li>
        <li><a href="/cart">Корзина</a></li>

    </div>
    <div>
        Информация о характеристиках товара, его наличию и доставке носит<br>
        исключительно ознакомительный характер и ни при каких условиях<br>
        не является публичной офертой, определяемой положениями Статьи 437<br>
        Гражданского кодекса РФ
    </div>
    <div>
        <img class="logoFooter" th:src="@{/images/logo.jpg}">
    </div>
    <div>
        ©2023 Интернет-магазин MyStore<br>
        Дипломная работа Колпакова И.В.<br>
        Группа: FSJ-3-22
    </div>
    <div class="goBack">
        <div>
            <form href="#">
                <button type="submit">Наверх</button>
                <br>
            </form>
        </div>
    </div>
</div>
</body>
</html>