<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>


<body class="body_user_lc">

    <div class="header_user_lc">

        <div class="header_user_lc_logo">
            <a class="logo_ss" href="/product">
                <img class="logo_new" th:src="@{/images/orig.jpg}">
            </a>
        </div>
        <h2 th:text="'Активный пользователь: '+${person.getLogin()}">Личка</h2>
        <div class="header_search">
            <form class="header_search_form" th:method="POST" th:action="@{/product/searchHeader}">
                <input class="header_input_search" type="text" id="searchHeader" name="search" th:value="*{value_search}">
                <button class="header_search_btn" type="submit"> <img class="logo_search" th:src="@{/images/search-svgrepo-com.svg}"></button>
            </form>
        </div>

        <div class="header_user_lc_block">

            <div class="header_user_lc_orders">
                <a class="orders_ss" href="/orders">
                    <img class="orders_logo" th:src="@{/images/delivery-svgrepo-com.svg}">
                </a>
            </div>

            <div class="header_user_lc_basket">
                <a class="basket_ss" href="/cart">
                    <img class="basket_logo" th:src="@{/images/cart-shopping-svgrepo-com.svg}">

                </a>
            </div>

            <div class="header_user_lc_exit">
                <form method="post" th:action="@{/logout}">
                <button class="header_user_lc_ex_bt" >
                    <img class="basket_logo_btn" th:src="@{/images/exit-svgrepo-com.svg}">
                </button>
                </form>
            </div>
        </div>


    </div>

    <div class="product_list">

        <div class="searchSort">
            <form th:method="POST" th:action="@{/product/search}">
                <fieldset class="searchSort_block">
                    <legend>Выберите параметры :</legend>
                    <br>
                    <label for="ot">Цена от:</label>
                    <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">
                    <label for="do">Цена до:</label>
                    <input type="text" name="do" id="do" th:value="*{value_price_do}">
                    <br>

                    <div>
                        <p>Сортировка</p>
                        <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                        <label for="ascending_price">По возрастанию цены</label>
                        <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                        <label for="descending_price">По убыванию цены</label>
                        <p>Категория товаров:</p>
                        <input type="radio" id="Ванны" name="category" value="Ванны">
                        <label for="Ванны">Ванны</label>
                        <br>
                        <input type="radio" id="Санфаянс" name="category" value="Санфаянс">
                        <label for="Санфаянс">Санфаянс</label>
                        <br>
                        <input type="radio" id="Смесители" name="category" value="Смесители">
                        <label for="Смесители">Смесители</label>
                        <br>
                        <input type="radio" id="Душевые кабинки" name="category" value="Душевые кабинки">
                        <label for="Душевые кабинки">Душевые кабинки</label>
                        <br>
                        <input type="radio" id="Кухонные раковины" name="category" value="Кухонные раковины">
                        <label for="Кухонные раковины">Кухонные мойки</label>
                        <br>
                        <input type="radio" id="Арматура" name="category" value="Арматура">
                        <label for="Арматура">Арматура</label>
                        <br>
                        <input class="findButton" type="submit" value="Найти">
                    </div>
                </fieldset>
            </form>
        </div>


        <div >
            <h3>Результаты поиска</h3>
            <div class="productListDiv">
                <div class="productDiv" th:each="product : ${search_product_header}">
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}">
                        <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" width="300px"/>
                        <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px"/>
                    </a>
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>

            <div class="productListDiv">
                <div class="productDiv" th:each="product : ${search_product}">
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}">
                        <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" width="300px"/>
                        <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}" width="300px"/>
                    </a>
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                </div>
            </div>
            <h3>Наши товары</h3>
            <div class="productListDiv">
                <div class="productDiv" th:each="product : ${products}">
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}">
                        <img th:if="${product.imageList[0].getFileName().contains('demo')}" th:src="'/images/' + ${product.imageList[0].getFileName()}" />
                        <img th:unless="${product.imageList[0].getFileName().contains('demo')}" th:src="'/pics/' + ${product.imageList[0].getFileName()}"/>
                    </a>
                    <br>
                    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
                    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                    <form th:action="@{/cart/add/{id}(id=${product.getId()})}">
                        <button type="submit">Купить</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>




<br>
<hr>
<div class="footer">
    <div>

        <li><a href="/orders?">История заказов</a></li>
        <li><a href="/cart">Корзина</a></li>

    </div>
    <div>
        Информация о характеристиках товара, его наличию и доставке носит<br>
        исключительно ознакомительный характер и ни при каких условиях<br>
        не является публичной офертой, определяемой положениями Статьи 437<br>
        Гражданского кодекса РФ
    </div>

    <div class="header_user_lc_logo">
        <a class="logo_ss" href="/product">
            <img class="logo_new" th:src="@{/images/orig.jpg}">
        </a>
    </div>
    <div>
        ©2023 Интернет-магазин Сан ТеХ Проф<br>
        Дипломная работа -----------<br>
        Группа:---------
    </div>
    <div class="goBack">
        <div>
            <form href="#">
                <button type="submit">Наверх</button>
                <br>
            </form>
        </div>
    </div>
</div>
</body>
</html>