.productInfo {
    display: table;
    border-collapse: collapse;
}

.productImg{
    display: table-cell;
    vertical-align: top;
    padding: 5px;
}

.productImg img{
    width: 200px;
    border-radius: 0px;
    border: 1px solid black;
    transition: 0.5s;
}

.productImg img:hover{
    width: 500px;
    position: absolute;
    cursor: zoom-in;
    z-index: 2;
    box-shadow: 10px 10px 9px grey;
    transition: 0.5s;
}

/*
.productImg img:focus{
    width: 800px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 2;
    pointer-events: none;
    transition: 0.5s;
}
*/

.productText{
    margin-left: 30px;
}

.buyButton{
    align-content: center;
}

.buyButton button{
    width: 150px;
    height: 50px;
    background-color: rgb(12,103,148);
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: black;
}

.buyButton button:hover{
    background: darkorange;
    transition: 0.5s;
}

.adminButtons{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}