<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Аутентификация</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Войдите в личный кабинет или перейдите в каталог для незарегистрированных пользователей</h3>

<div class="headerMenu">
  <ul class="navigation">
<div class="logoA">
  <a href="/product">
      <img class="logo" th:src="@{/images/logo.png}">
  </a>
</div>
    <li><a href="/registration">Регистрация</a></li>
    <li><a href="/product">Каталог</a></li>
  </ul>
</div>

<div>
<form method="post" action="/process_login">
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <label for="username">Введите логин: </label>
  <input type="text" placeholder="Введите логин" name="username" id="username">
  <br>
  <label for="password">Введите пароль: </label>
  <input type="password" placeholder="Введите пароль" name="password" id="password">
  <br>
  <button type="submit">Войти</button>
</form>
</div>


<div th:if="${param.error}" style="color: red">
  Неправильный логин или пароль
</div>
</body>
</html>