<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Аутентификация</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

  <div class="registr_big_block">
    <div class="auth_big_block_white">
      <div class="auth_header_user_lc_logo">
        <a class="logo_ss" href="/product">
          <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
        </a>
      </div>


      <div class="registr_block">
        <h2>Вход в личный кабинет</h2>
      </div>

      <div class="registr_input">
        <form method="post" action="/loginProcess">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <label class="lab_auth_usname" for="username">Введите логин: </label>
          <input type="text" placeholder="Введите логин" name="username" id="username">
          <br>
          <label for="password">Введите пароль: </label>
          <input type="password" placeholder="Введите пароль" name="password" id="password">
          <br>
          <div th:if="${param.error}" style="color: red">
            Неправильный логин или пароль
          </div>
          <br>
          <br>
          <button type="submit">Войти</button>
        </form>
      </div>

      <div class="registr_big_block_h5">
        <h5>У Вас нет учетной записи?</h5>
      </div>

      <div class="registr_big_block_reg">
        <form th:action="@{/registration}">
          <button class="auth_big_block_btn" type="submit">Регистрация</button><br>
        </form>

      </div>
    </div>
  </div>

</body>
</html>