<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

<h3>Регистрация</h3>

<div class="headerMenu">
  <ul class="navigation">
    <div>
      <a th:href="@{/product}">
        <img class="logo" th:src="@{/images/logo.png}">
      </a>
    </div>
    <li><a href="/authentication">Авторизация</a></li>
    <li><a href="/product">Каталог</a></li>
  </ul>
</div>

<form method="post" th:actioin="@{/registration}" th:object="${person}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <label for="login">Введите логин: </label>
  <input type="text" th:field="*{login}" id="login">
  <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
  <br>
  <label for="password">Введите пароль: </label>
  <input type="password" th:field="*{password}" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
  <br>
  <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>