<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

  <div class="registr_big_block">
   <div class="registr_big_block_white">

     <div class="reg_header_user_lc_logo">
       <a class="logo_ss" href="/product">
         <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
       </a>
     </div>

     <div class="registr_block">
       <h2>Регистрация</h2>
     </div>

     <div class="registr_input">
       <form method="post" th:action="@{/registration}" th:object="${person}">
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
         <label class="lab_usname" for="login">Введите логин: </label>
         <input type="text" th:field="*{login}" id="login">
         <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
         <br>
         <label class="lab_password" for="password">Введите пароль: </label>
         <input type="password" th:field="*{password}" id="password">
         <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
         <br>
         <label class="lab_firstName" for="firstName">Введите имя: </label>
         <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
         <div style="color: red; text-align: center" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
         <br>
         <label class="lab_lastName" for="lastName">Введите фамилию: </label>
         <input type="text" class="form-control" id="lastName"  th:field="*{lastName}">
         <div style="color: red; text-align: center" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
         <br>
         <label class="lab_telephone" for="telephone">Введите телефон: </label>
         <input type="text" class="form-control" id="telephone"  th:field="*{telephone}">
         <div style="color: red" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
         <br>
         <label class="lab_email" for="email">Введите Email: </label>
         <input type="text" class="form-control" id="email"  th:field="*{email}">
         <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
         <br>
         <label class="lab_address" for="address">Введите адрес: </label>
         <input type="text" class="form-control" id="address"  th:field="*{address}">
         <br>
         <br>

         <button type="submit">Зарегистрироваться</button>
       </form>
     </div>

     <div class="registr_big_block_h5">
       <h5>У Вас уже есть аккаунт?</h5>
     </div>

     <div class="registr_big_block_reg">
       <form th:action="@{/login}">
         <button class="registr_big_block_btn" type="submit">Вход</button><br>
       </form>

     </div>

  </div>
</div>

</body>
</html>