<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

  <div class="registr_big_block">
   <div class="registr_big_block_white">

     <div class="registr_big_block_logo">
       <a class="logo_ss" href="/product">
         <img class="logo_new" th:src="@{/images/orig.jpg}">
       </a>
     </div>


     <div class="registr_block">
       <h2>Регистрация</h2>
     </div>


     <div class="registr_input">
       <form method="post" th:actioin="@{/registration}" th:object="${person}">
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
         <label class="lab_usname" for="login">Введите логин: </label>
         <input type="text" th:field="*{login}" id="login">
         <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
         <br>
         <label for="password">Введите пароль: </label>
         <input type="password" th:field="*{password}" id="password">
         <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
         <br>
         <br>
         <button type="submit">Зарегистрироваться</button>
       </form>
     </div>

     <div class="registr_big_block_h5">
       <h5>У Вас уже есть аккаунт?</h5>
     </div>

     <div class="registr_big_block_reg">
       <form method="GET" th:actioin="@{/login}">
         <a class="registr_big_block_but" href="/login">Вход</a>
       </form>

     </div>

  </div>
</div>

</body>
</html>