<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>


<body class="body_user_lc">

<div class="header_product_header">

    <div class="header_location">
        <img class="header_location_logo" th:src="@{/images/locationLogo.svg}" alt="logo">
        <a class="header_location_logo_link" href="#"> Москва</a>
    </div>

    <div class="header_info">
        <a class="header_location_logo_link" href="/wholesalers"> Оптовикам</a>
        <a class="header_location_logo_link" href="/company"> О компании</a>
        <a class="header_location_logo_link" href="/contacts"> Контакты</a>
    </div>


</div>

<div class="header_user_lc">

    <div class="header_user_lc_logo">
        <a class="logo_ss" href="/product">
            <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
        </a>
    </div>

    <h2>Редактирование пользователя</h2>

    <div class="header_user_lc_block">
        <div class="header_user_lc_exit">
            <form method="post" th:action="@{/logout}">
                <button class="header_user_lc_ex_bt">
                    <img class="basket_logo_btn" th:src="@{/images/exit-svgrepo-com.svg}">
                </button>
            </form>
        </div>
    </div>
</div>

<div class="admin_editProduct_form">
    <form method="POST" th:action="@{/admin/person/edit/{id}(id=${editPerson.getId()})}" th:object="${editPerson}">

        <div class="mb-3" style="width:500px">
            <tr>
                <label for="login" class="form-label_user_login" >Введите логин: </label>
                <input type="text" class="form-control" th:field="*{login}" id="login">
                <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
                <br>
                <input type="hidden" class="form-control" th:field="*{password}" id="password">
                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                <label for="firstName" class="form-label_user_name">Введите имя: </label>
                <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
                <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                <br>
                <label class="lab_lastName" for="lastName">Введите фамилию: </label>
                <input type="text" class="form-control" id="lastName"  th:field="*{lastName}">
                <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                <br>
                <label class="lab_telephone" for="telephone">Введите телефон: </label>
                <input type="text" class="form-control" id="telephone"  th:field="*{telephone}">
                <div style="color: red" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
                <br>
                <label class="lab_email" for="email">Введите Email: </label>
                <input type="text" class="form-control" id="email"  th:field="*{email}">
                <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                <br>
                <label class="lab_address" for="address">Введите адрес: </label>
                <input type="text" class="form-control" id="address"  th:field="*{address}">
                <br>
                <input type="hidden" value="ROLE_USER" class="field left" th:field="*{role}" readonly>
        </div>
        <br>
        <br>
        <button type="submit">Сохранить</button>
        <br>

    </form>

</div>


</body>
</html>