<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Список пользователей</h3>
<form th:action="@{/admin}">
    <button type="submit">Назад в меню администратора</button>
    <br>
</form>

<table class="table">
    <thead>
    <tr>
        <th> Имя</th>
        <th> Роль</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${person.empty}">
        <td colspan="2"> Пользователей еще нет</td>
    </tr>
    <tr th:each="element : ${person}">
        <td><a aria-current="page" th:href="@{/admin/person/info/{id}(id=${element.getId()})}"
               th:text="${element.getLogin()}"></a></td>
        <td><span th:text="${element.getRole()}"> Роль </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>