<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Информация о пользователе</h3>
<br>
<br>
<div class="watch_product">
    <a class="link" style="text-decoration: none; color: rgb(12,103,148); font-size: 25px" href="/admin/person">Назад к списку пользователей</a>
</div>
<br>
<br>

<p th:text="'Логин: ' + ${person.getLogin()}"/>
<p th:text="'Роль: ' + ${person.getRole()}"/>
<br>
<a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
<br>
<br>
<a style="color: red" th:href="@{/admin/person/delete/{id}(id=${person.getId()})}">Удалить пользователя</a>

</body>
</html>