<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
</head>

<body class="body_user_lc">

        <div class="header_product_header">

            <div class="header_location">
                <img class="header_location_logo" th:src="@{/images/locationLogo.svg}" alt="logo">
                <a class="header_location_logo_link" href="#"> Москва</a>
            </div>

            <div class="header_info" >
                <a class="header_location_logo_link" href="/wholesalers"> Оптовикам</a>
                <a class="header_location_logo_link" href="/company"> О компании</a>
                <a class="header_location_logo_link" href="/contacts"> Контакты</a>
            </div>


        </div>


        <div class="header_user_lc">

            <div class="header_user_lc_logo">
                <a class="logo_ss" href="/product">
                    <img class="header_logo_name" th:src="@{/images/logo-3-3.png}" alt="logo">
                </a>
            </div>

            <h2>Информация о пользователе</h2>

            <div class="header_user_lc_block">
                <div class="header_user_lc_exit">
                    <form method="post" th:action="@{/logout}">
                        <button class="header_user_lc_ex_bt" >
                            <img class="basket_logo_btn" th:src="@{/images/exit-svgrepo-com.svg}">
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <div class="adminButtons">
            <form th:action="@{/admin/person}">
                <button type="submit">Назад в меню администратора</button>
            </form>
        </div>
        <hr>


        <div class="adminUserProfile">
            <p th:text="'Логин: ' + ${person.getLogin()}"/>
            <p th:text="'Роль: ' + ${person.getRole()}"/>
            <p th:text=" 'Имя: '+ ${person.getFirstName()} ">Имя:</p>
            <p th:text=" 'Фамилия: '+ ${person.getLastName()} ">Фамилия:</p>
            <p th:text=" 'Телефон: '+ ${person.getTelephone()} ">Телефон:</p>
            <p th:text=" 'Email: '+ ${person.getEmail()} ">Email:</p>
            <p th:text=" 'Адрес доставки: '+ ${person.getAddress()} ">Адрес доставки:</p>
            <br>
            <a th:href="@{/admin/person/edit/{id}(id=${person.getId()})}">Редактировать пользователя</a>
            <br>
            <br>
            <a style="color: red" th:href="@{/admin/person/delete/{id}(id=${person.getId()})}">Удалить пользователя</a>

        </div>

</body>
</html>