<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>

<form method="POST" th:action="@{/person/updatePassword/{id}(id=${person.getId()})}" th:object="${person}">
    <br>
    <label class="lab_password" for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>