<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
</head>
<body>

<form method="POST" th:action="@{/person/updatePassword/{id}(id=${person.getId()})}" th:object="${person}">
    <div class="form-group">
        <label>новый пароль</label>
        <br>
        <input type="password" id="password" th:field="*{password}" class="form-control">
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>

</body>
</html>